.Judul{
    text-align: center;
    font-family:"Abril" ; font-size: 40px;font-weight: 700;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: cornflowerblue;
}
button{
    background-color: black;
    padding: 12px;
    color: aliceblue;
}

.contact{
    padding: 20px;
    margin: 20px;
    display: flex;
    gap: 18px;
}
a{
    color: black;
    background-color: skyblue;
    padding: 20px;
    font-family: "Libre"; font-weight: 15px;
    text-decoration: none;
}
input{
    padding: 12px;
    width: 512px;
}
.Isi{
    font-family: "Libre" ;font-size: 25px;
}