.Judul{
    text-align: center;
    font-family:"Abril" ; font-size: 40px;font-weight: 700;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    background-color: cornflowerblue;
}
button{
    background-color: black;
    padding: 12px;
    color: aliceblue;
}

.contact{
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
a{
    color: black;
    background-color: skyblue;
    padding: 20px;
    font-family: "Libre"; font-weight: 15px;
    text-decoration: none;
}
input{
    padding: 12px;
    width: 512px;
}
.Isi{
    font-family: "Libre" ;
    font-size: 25px;
}
img{
    max-width: 100%;
    width: 512px;
}

@media (max-width: 512px) {
    .Judul{
        font-size: 24px;
    }
    button{
        background-color: black;
        padding: 12px;
        color: aliceblue;
    }
    a{
        padding: 8px;
    }
    input{
        padding: 12px;
        width: 215px;
    }
    .Isi{
        font-size: 16px;
    }   
}